<div style="padding: 2rem 0;">
    <div id="complete_table">
        <h1 class="title" style="display:inline-block;">Submission Complete</h1>
        <div>
            <span>✓</span>
            <h2>Success Request</h2>
            <p>Your request has been sent successfully, we will feedback to you soon!</p>
            <p>You can check your order status in <a href="{$MODULE[2][linkurl]}"><strong><i>My Orders</i></strong></a>.</p>
            <h3 id="order">Order No: {$itemid}</h3>
            <button onclick="location.href='{DT_PATH}'">OK</button>
        </div>
    </div>
</div>