
<div class="center" id="yes" style="display: none;">
	<div style="margin-left: 2rem;">
        <p>
            Please send your sample to the following address and <br>
            upload your tracking number in <a href="{$MODULE[2][linkurl]}"><strong><i>My Orders</i></strong></a>.
        </p>
        <p>
            ROOM 807 NO.1 WEST TOWER, <br>
            NO.115 ZHANGCHA YI ROAD, <br>
            FOSHAN, GUANGDONG, CHINA
        </p>
		<div class="center">
			<div class="button center" onclick="location.href='{DT_PATH}'">
				OK
			</div>
		</div>
	</div>
</div>