{template header,mall}
<div class="main">
    <style>
        .nav a, .cat a{
            font-family: var(--we-font);
            color: var(--background-color);
            font-size: 1.2rem;
        }
        .cat a{
            padding: 5px;
            text-decoration: underline;
        }
        .cat a.selected{
            color: var(--we-red);
        }
        .cat{
            padding: 16px 0;
        }
    </style>
    <div class="nav bd-b"><a href="{$MODULE[1][linkurl]}">Home</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
    <!--{php $tags=tag("table=category&condition=moduleid=$moduleid&order=catname desc&template=null")}-->
    <div class="b16"></div>
    <div class="cat bd-b">
        {loop $tags $t $v}
        <a class="{if $v[catid]==$catid}selected{/if}" href="?catid={$v[catid]}">{$v[catname]}</a>
        {/loop}
    </div>
    <!--{tag("moduleid=$moduleid&condition=status=3 and catid=$catid&order=addtime desc&template=list-mall")}-->
</div>
<script>
    var onquickview = false;
    function qv(bool){
        onquickview = bool;
    }
    function show(id){
        if(!onquickview) location.href= '{$MOD[linkurl]}show.php?&itemid='+id;
    }
</script>
{template quickview,mall}
{template footer}