{template 'header','mall'}

<style>
	.m{
		width: fit-content;
	}
	#mid_div{
		width: fit-content;
		cursor: default;
		height: fit-content;
		padding: 0;
	}
	#mid_pic{
		width: 800px;
		height: 640px;
	}
	.nav #next:hover, .nav #next:hover{
		cursor: default;
	}
	.nav{
		width: 700px;
	}
	.m table td{
		font-family: Arial, Helvetica, sans-serif;
		color: var(--background-color);
	}
	.product-title{
		font-size: 24px;
		font-weight: 700;
	}
	.product-price{
		font-size: 20px;
	}
	.content-title{
		font-weight: 700;
		font-size: 20px;
	}
	.content-value{
		font-size: 16px;
	}
</style>
<script type="text/javascript">
	var module_id= {$moduleid},item_id={$itemid},content_id='content';
</script>
<div class="main">
<div class="m">	
	<div class="nav">
		<div>
			<div id="next" class="{if $itemid!=1}clickable{/if}">
				Next
				<i>&#62;</i>
			</div>
			<div><i>|</i></div>
			<div id="prev" class="{if !($last)}clickable{/if}">
				<i>&#60;</i>
				Prev
			</div>
		</div>
		<a href="{$MODULE[1][linkurl]}">Home</a> <i>></i> 
		<a href="{$MOD[linkurl]}">Shop</a> <i>></i> {cat_pos($CAT, ' <i>></i> ')}
	</div>
	<div class="b20 bd-t"></div> 
</div>
<div class="m">
	<div id="mid_div" onclick="PAlbum(Dd('mid_pic'));">
		<img src="{$albums[0]}" alt="{$title}" id="mid_pic">
	</div>
	<div class="b10"></div>
	<div style="margin: auto; width: fit-content;">
		{loop $thumbs $k $v}
		<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');" class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>
		{/loop}
	</div>
	<div class="b20"></div>

	<div style="display: grid; grid-template-columns: 60% 40%; grid-template-areas: 'details form';">
		<div style="grid-area: details;">
			<table>
				<tr><td colspan="3" class="product-title">{$title}</td></tr>
				{loop $t $k $v}
				<tr><td><div class="b20"></div></td></tr>
				<tr><td class="content-title">{$k}</td></tr>
				<tr><td class="content-value">{$v}</td></tr>
				{/loop}
			</table>
		</div>
		
		
	</div>
	<table width="100%">
	<tr>
	<td valign="top">
			<tr>
			<td width="16"> </td>
			<td valign="top">
				{if $a2}
				<div class="step_price">
				<table width="100%" cellpadding="6" cellspacing="0">
				<tr>
				<td>起批</td>
				<td>{$a1}-{$a2}{$unit}</td>
				{if $a3}
				<td>{$a2+1}-{$a3}{$unit}</td>
				<td>{$a3}{$unit}以上</td>
				{else}
				<td>{$a2+1}{$unit}以上</td>
				{/if}
				</tr>
				<tr>
				<td>Price</td>
				<td class="f_price">{$DT[money_sign]}<span class="px14">{$p1}</span></td>
				{if $a3}
				<td class="f_price">{$DT[money_sign]}<span class="px14">{$p2}</span></td>
				<td class="f_price">{$DT[money_sign]}<span class="px14">{$p3}</span></td>
				{else}
				<td class="f_price">{$DT[money_sign]}<span class="px14">{$p2}</span></td>
				{/if}
				</tr>
				</table>
				</div>
				{/if}
				<table width="100%" cellpadding="5" cellspacing="5">
				{if !$a2}
				<tr>
				<td>Price </td>
				<td class="f_price">{$DT[money_sign]}<span class="px16">{$price}</span></td>
				</tr>
				{/if}
				{if $promos}
				<tr>
				<td>优惠：</td>
				<td class="promos">
				<a href="{$MODULE[2][linkurl]}coupon.php?username={$username}" target="_blank">
				{loop $promos $v}
				{if $v[cost]}
				<span>满{$v[cost]}减{$v[price]}</span>
				{else}
				<span>{$v[price]}{$DT[money_unit]}优惠</span>
				{/if}
				{/loop}
				</a>
				</td>
				</tr>
				{/if}
				{if $express_name_1 == '包邮'}
				<tr>
				<td>物流：</td>
				<td>
				{if $fee_start_1>0}
				{if $fee_start_2>0} {$express_name_2}:{$fee_start_2}  {/if}
				{if $fee_start_3>0} {$express_name_3}:{$fee_start_3}  {/if}
				满{$fee_start_1}包邮
				{else}
				包邮
				{/if}
				</td>
				</tr>
				{elseif $fee_start_1>0 || $fee_start_2>0 || $fee_start_3>0}
				<tr>
				<td>物流：</td>
				<td class="f_gray">
				{if $fee_start_1>0} {$express_name_1}:{$fee_start_1}  {/if}
				{if $fee_start_2>0} {$express_name_2}:{$fee_start_2}  {/if}
				{if $fee_start_3>0} {$express_name_3}:{$fee_start_3}  {/if}
				</td>
				</tr>
				{/if}
				{if $cod}
				<tr>
				<td>到付：</td>
				<td>支持货到付款</td>
				</tr>
				{/if}
				<tr>
				<td>Brand</td>
				<td>{if $brand}<a href="{$MOD[linkurl]}{rewrite('search.php?fields=4&kw='.urlencode($brand))}" target="_blank" class="b">{$brand}</a>{else}unfilled{/if}</td>
				</tr>
				<tr>
				<td>Sold </td>
				<td><a href="#order" onclick="Mshow('order');" class="b">累计出售 <span class="f_orange">{$sales}</span> {$unit}</a></td>
				</tr>
				<tr>
				<td>Reviews </td>
				<td><a href="#comment" onclick="Mshow('comment');" class="b">已有 <span class="f_orange">{$comments}</span> 条评价</a></td>
				</tr>
				{if $MOD[hits]}
				<tr>
				<td>人气：</td>
				<td>已有 <span class="f_orange"><span id="hits">{$hits}</span></span> 人关注</td>
				</tr>
				{/if}
				<tr>
				<td width="50">更新：</td>
				<td>{$editdate}</td>
				</tr>
				{if $RL}
				<tr>
				<td>{$relate_name}：</td>
				<td>
				{loop $RL $v}
				<div class="relate_{if $itemid==$v[itemid]}2{else}1{/if}">{if $itemid==$v[itemid]}<em></em>{/if}<a href="{$MOD[linkurl]}{$v[linkurl]}"><img src="{$v[thumb]}" alt="" title="{$v[relate_title]}"/></a></div>
				{/loop}				
				</td>
				</tr>
				{/if}
				{if $P1}
				<tr>
				<td>{$n1}：</td>
				<td id="p1">
				<ul>
				{loop $P1 $i $v}
				<li class="nv_{if $i==0}2{else}1{/if}">{$v}</li>
				{/loop}
				</ul>
				</td>
				</tr>
				{/if}
				{if $P2}
				<tr>
				<td>{$n2}：</td>
				<td id="p2">
				<ul>
				{loop $P2 $i $v}
				<li class="nv_{if $i==0}2{else}1{/if}">{$v}</li>
				{/loop}
				</ul>
				</td>
				</tr>
				{/if}
				{if $P3}
				<tr>
				<td>{$n3}：</td>
				<td id="p3">
				<ul>
				{loop $P3 $i $v}
				<li class="nv_{if $i==0}2{else}1{/if}">{$v}</li>
				{/loop}
				</ul>
				</td>
				</tr>
				{/if}
				{if $amount}
				{if $status == 3}
				<tr>
				<td>Quantity</td>
				<td class="f_gray"><img src="{DT_SKIN}image/arrow_l.gif" width="16" height="8" alt="减少" class="c_p" onclick="Malter('-', {$a1}, {$amount});"/> <input type="text" value="{$a1}" size="4" class="cc_inp" id="amount" onkeyup="Malter('', {$a1}, {$amount});"/> <img src="{DT_SKIN}image/arrow_r.gif" width="16" height="8" alt="增加" class="c_p" onclick="Malter('+', {$a1}, {$amount});"/>{$unit} 库存{$amount}{$unit}</td>
				</tr>
				<tr>
				<td colspan="2">
				<img src="{DT_SKIN}image/btn_tobuy.gif" alt="Add to Cart" class="c_p" onclick="BuyNow();"/>
				 
				<img src="{DT_SKIN}image/btn_addcart.gif" alt="Go For Bulk" class="c_p" onclick="AddCart();"/>
				</td>
				</tr>
				{else}
				<tr>
				<td></td>
				<td><strong class="f_red px14">该商品已下架</strong></td>
				</tr>				
				{/if}
				{else}
				<tr>
				<td></td>
				<td><strong class="f_red px14">该商品库存不足</strong></td>
				</tr>
				{/if}
			</table>
		</td>
		</tr>
	</table>
	</td>
	</tr>
	</table>
</div>

<div class="m">
	<div class="b10"> </div>
</div>
</div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
<script type="text/javascript">
var mallurl = '{$MOD[linkurl]}';
var mallmid = {$moduleid};
var mallid = {$itemid};
var n_c = {$comments};
var n_o = {$orders};
var c_c = Dd('c_comment').innerHTML;
var c_o = Dd('c_order').innerHTML;
var s_s = {'1':0,'2':0,'3':0};
var m_l = {
	no_comment:'暂无评论',
	no_order:'暂无交易',
	no_goods:'商品不存在或已下架',
	no_self:'不能添加自己的商品',
	lastone:''
};
</script>
<script type="text/javascript" src="{DT_STATIC}file/script/mall.js"></script>
<script type="text/javascript">
{if $P1}addE(1);{/if}
{if $P2}addE(2);{/if}
{if $P3}addE(3);{/if}
if(window.location.href.indexOf('#') != -1) {
	var t = window.location.href.split('#');
	try {Mshow(t[1]);} catch(e) {
		console.log('fail');
	}
}
</script>
{template 'footer'}