<style>
    .contact{
        padding: 1rem 0;
    }
    .contact li{
        text-align: center;
        padding: 1rem;
        color: white;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div class="wrapper">
    <ul class="contact">
        <li>Tel : +61-452-509-529</li>
        <li><a href="https://instagram.com/we.produce?igshid=11sf7okfxqd1h"><img src="{DT_SKIN}image/ins.png" style="width: 2rem;" alt=""></a></li>
    </ul>
</div>
    <div class="m">
        <div class="foot">
            <div id="copyright">&copy;2020 by WeProduce<br>{$DT[copyright]}</div>
            {if DT_DEBUG}<div>{debug()}</div>{/if}
            <div id="powered"><a href="https://www.destoon.com/" target="_blank"><img src="{DT_STATIC}file/image/powered.gif" width="136" height="10" alt="Powered By DESTOON"/></a></div>
        </div>
    </div>
<!--[以下为系统关键代码，请勿删除]-->
<div class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>