{template 'header', 'member'}
{if $action=='edit'}
{/if}
{if $action=='success'}
<script>
	Dd('side-avatar').location.reload();
	var cookies = document.cookie.split(";");
	console.log(cookies);
</script>
{/if}
<script>
	page('account');

	var cookies = document.cookie.split(";");
	var cookies_dict = cookies.map(function(item){
		return item.split("=");
	});
	var index = cookies_dict.findIndex(function(item){
		return item[0].includes("username");
	});
	cookies_dict[6][1] = {$username};
	console.log(cookies_dict);
	
</script>
<style>
</style>
<div class="tt">
	<p>View nd edit your personal info below</p>
	<div class="b16"></div>
	<div class="break"></div>
	<div class="b16"></div>
	<div>
		<div>
			<p>Login Email:</p>
			<p>{$user[email]}<span style="padding-left: 2rem;"><i class="fa fa-info clickable" title="You cannot change the login email"></i></span></p>
		</div>
		<div class="b16"></div>
		<form action="?action=edit" method="POST">
			<input type="hidden" name="post[userid]" value="{$_userid}">
			<table cellspacing="5" cellpadding="10">
				<tr align="left">
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
				<tr>
					<td><input type="text" id="first_name" name="post[first_name]" placeholder="e.g. James"></td>
					<td><input type="text" id="last_name" name="post[last_name]" placeholder="e.g. Bond"></td>
				</tr>
				<tr align="left">
					<th>Contact Email<!--  <div class="f_r"><span class="clickable" onclick="createNew('email')"><i class="fa fa-plus-circle"></i></span></div> --></th>
					<th>Phone<!--  <div class="f_r"><span class="clickable" onclick="createNew('mobile')"><i class="fa fa-plus-circle"></i></span></div> --></th>
				</tr>
				<tr>
					<td>
						<input type="text" name="post[contact_email]" id="email" placeholder="e.g. JamesBond@weproducemoda.com">
					</td>
					<td>
						<input type="text" name="post[contact_mobile]" id="mobile" placeholder="e.g. +61-000-000-000">
					</td>
				</tr>
				<tr>
					<td>
						{if $action == 'success'}
						<input type="submit" value="&radic; Updated" class="clickable" name="submit">
						{else}
						<input class="clickable" type="submit" value="Update Info" name="submit">
						{/if}
					</td>
					<td><div class="clickable we_f1_2">Cancel</div></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script>
	var email = '{if $user[contact_email]}{$user[contact_email]}{else}{$user[email]}{/if}';
	var mobile = '{if $user[contact_mobile]}{$user[contact_mobile]}{else}{$user[mobile]}{/if}';
	var first = '{$user[first_name]}';
	var last = '{$user[last_name]}';
	(function(){
		Dd('email').value = email;
		Dd('mobile').value = mobile;
		Dd('first_name').value = first;
		Dd('last_name').value = last;
	})();
	function createNew(type){
		if( Dd(type+'_1').value == '' ) return;
		if( Dd(type+'_2')!= undefined ) return;
		var td = Dd(type);
		var id = type+'_2';
		var input = document.createElement("INPUT");
		input.id = id;
		input.setAttribute("type","text");
		input.setAttribute("name","post[contact_"+type+"][]");
		td.colspan = '2';
		td.append(input);
	}
</script>
{template 'footer', 'member'}