{template 'header', 'member'}
<script>
	page('address');
</script>
<style>
	.address-detail{
		border-bottom: 1px solid var(--background-color);
		padding: 1rem 0;
	}
	.address-detail p{
		font-size: 1rem;
		margin: 10px;
		margin-left: 0px;
	}
	.address-detail a{
		text-decoration: underline;
		font-family: var(--we-font);
		color: var(--background-color);
	}
</style>
<div class="tt">
	<div class="b16"></div>
	<p>Add and manage the addresses you use often
	{if $MG[address_limit]}
	<span class="f_r"><span class="f_b we_f1">{$limit_used}</span> / <span class="we_f1">{$MG[address_limit]}</span> <br></span>
	{/if}
	</p>
	<div class="break"></div>
	{if $lists}
	<div class="addresses">
	{loop $lists $k $v}
	<!-- {php $area=tag("table=ds_address&condition=areaid=$areaid")} -->
	<div id="address_{$itemid}" class="address-detail">
		<p>{$v[truename]}</p>
		<p>{$v[address]}, {$v[address_2]}</p>
		<p>{$v[city]}, {$area[region]} {$v[postcode]}</p>
		<p>{$area[country]}</p>
		<p>{$v[mobile]}</p>
		<div class="b10"></div>
		<p><span><a href="?action=edit&itemid={$v[itemid]}">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="?action=delete&itemid={$v[itemid]}">Remove</a></span><span class="f_r">{if $v[listorder]}<a href="?action=default&itemid={$v[itemid]}">Make this default</a>{else}&check;&nbsp;<a>Default Address</a>{/if}</span></p>
	</div>
	{/loop}
	</div>
	<div class="btn_r clickable" style="color: white; font-size: 1.2rem; font-family: var(--we-font); text-align: center; padding: 1rem 3rem; width: fit-content; margin: 3rem 0" onclick="Go('?action=add')">
		Add New Address
	</div>
	{else}
	<div style="padding-top: 8rem;">
		<div style="width: fit-content; margin: auto;">
			<p style="font-size: 2rem;">You haven't saved any address yet.</p>
			<div class="btn_r clickable" style="color: white; font-size: 1.2rem; font-family: var(--we-font); text-align: center; padding: 1rem 3rem; width: fit-content; margin: 3rem auto" onclick="Go('?action=add')">
				Add New Address
			</div>
		</div>
	</div>
	{/if}
</div>
{if $action=='add' || $action=='edit'}
<style>
    .overlay-layer{
        background-color: rgba(0, 0, 0, .3);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
	}
	#dform{
		width: 800px;
		height: 600px;
		margin: 2rem auto;
		background-color: white;
		position: relative;
		overflow-y: scroll;
	}
	#dform table{
		width: 700px;
		margin: auto;
	}
	#dform caption{
		font-size: 2rem;
		color: var(--background-color);
		font-family: 'Dancing Script';
		text-align: left;
		margin-top: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--background-color);
	}
	#dform th{
		padding-top: 1.5rem;
		text-align: left;
		font-family: var(--we-font);
		color: var(--background-color);
		font-size: 1.5rem;
		font-weight: normal;
		padding-left: .5rem;
	}
	#dform td{
		margin-top: 1rem;
	}
	#dform td input, #dform td select{
		padding: .5rem 1rem;
		width: calc(100% - 2rem);
		font-size: 1rem;
		font-family: var(--we-font);
		color: var(--background-color);
		-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: content-box;    /* Firefox, other Gecko */
		box-sizing: content-box;         /* Opera/IE 8+ */
	}
	#dform td input:focus{
		border-color: var(--background-color);
	}
	.wf span{
		border: none;
		width: 333px;
	}
	#dform input[type=submit]{
		font-family: var(--we-font);
		color: white;
		font-size: 1.2rem;
		background-color: var(--we-red);
		border: none;
		cursor: pointer;
	}
	#dform input[type=submit]:hover{
		opacity: .8;
	}
#back{font-size: xx-large; position: absolute; right: 5%; top: 30px; color: grey;}
#back:hover{color: lightgrey;}
</style>
<div class="overlay-layer">
	<form action="?" method="post" id="dform" onsubmit="return check()">
		<input type="hidden" name="action" value="{$action}">
		<input type="hidden" name="itemid" value="{$itemid}">
		<input type="hidden" name="forward" value="{$forward}">
		<table cellspacing="10">
			<caption>Add New Address</caption>
			<tr>
				<th><span class="we_f1">*</span> First Name</th>
				<th><span class="we_f1">*</span> Last Name</th>
			</tr>
			<tr>
				<td><input type="text" name="post[firstname]" id="firstname" value="{$firstname}"></td>
				<td><input type="text" name="post[lastname]" id="lastname" value="{$lastname}"></td>
			</tr>
			<tr>
				<th><span class="we_f1">*</span> Address</th>
				<th>Address - Line 2</th>
			</tr>
			<tr>
				<td><input type="text" name="post[address]" id="address" value="{$address}"></td>
				<td><input type="text" name="post[address_2]" id="address_2" value="{$address_2}"></td>
			</tr>
			<tr>
				<th><span class="we_f1">*</span> City</th>
				<th><span class="we_f1">*</span> Area</th>
			</tr>
			<tr>
				<td><input type="text" name="post[city]" id="city" value="{$city}"></td>
				<td><div class="wf">{ajax_area_select('post[areaid]','Choose', $areaid)}</div></td>
			</tr>
			<tr>
				<th>Zip / Postal Code</th>
				<th>Phone</th>
			</tr>
			<tr>
				<td><input type="text" name="post[postcode]" id="postcode" value="{$postcode}"></td>
				<td><input type="text" name="post[mobile]" id="mobile" value="{$mobile}"></td>
			</tr>
			<tr></tr><tr></tr>
			<tr><td colspan="2"><div class="clickable" style="float: left; display: inline-flex; width: 100%;" onclick="Dd('listorder').checked=!(Dd('listorder').checked);console.log(Dd('listorder').checked);"><input type="checkbox" name="post[listorderr]" id="listorder" style="width: auto;" value="{$listorder}"><span class="we_f1">Make this my default address</span></div></td></tr>
			<tr></tr><tr></tr>
			<tr><td><input type="submit" name="submit" value="Add Address"></td></tr>
		</table>
		<div id="back" class="clickable" onclick="Go('{$MOD[linkurl]}address.php')">&#x2715;</div>
	</form>
</div>
<script>
	function check(){
		if( Dd('listorder').checked ) Dd('listorder').value = 0;
		else Dd('listorder').value = 1;
	}
</script>
<script type="text/javascript">s('addr');m({if $action=='add'}'add'{else}'s3'{/if});</script>
{/if}
<div class="pages">{$pages}</div>
<script type="text/javascript">s('addr');m('s3');</script>
{template 'footer', 'member'}