<style>
.overlay{width: 100%; background-color: rgba(255, 255, 255, 0.5);font-family: Arial, Helvetica, sans-serif;text-align: center; display: none;}
.ma{margin: auto;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.wf{width: fit-content;}
.h34{height: 75%;}
.h44{height: 100%;}
.mt8{margin-top: 8%;}
.mt8p{margin-top: 8px;}
.mt10p{margin-top: 10px;}
.mt15p{margin-top: 15px;}
.mt20p{margin-top: 20px;}
.mt30p{margin-top: 30px;}
.clickable{cursor: pointer;text-align: center;}
.f_white{color: white;}
.padd_8{padding: 8px;}
.padd_5{padding: 5px;}
.padd_3{padding: 3px;}
.padd_10{padding:10px;}
.padd_15{padding:15px;}
.padd_1r{padding: 1rem;}
.padd_1r5{padding: 1.5rem;}
.padd_2r{padding: 2rem;}
.padd_3r{padding: 3rem;}
.fsize_10{font-size: 10px;}
.fsize_20{font-size: 20px;}
.fsize_15{font-size: 15px;}
table td{vertical-align: middle; text-align: center;}
form input[type=text]{padding-left: 20px;}
.href{text-decoration: underline;}
#login_btn{background-color: var(--background-color);}
#login_btn:hover{opacity: .5;}
#reg_btn{border: 1px grey solid;}
#reg_btn:hover{background-color: var(--we-red);}
#back{font-size: xx-large; position: absolute; right: 5%; top: 30px; color: grey;}
#back:hover{color: lightgrey;}
</style>
<div class="overlay">
    <div class="ma w50 mt30p h34" style="background-color: skyblue;">
        <div class="ma wf padd_2r" style="background-color: white; padding-top: 3rem;">
            <img src="{DT_SKIN}image/logo.gif" alt="">
            <p style="font-weight: bolder;">Sign in to your WeProduce Account</p>
            <form action="?" class="ma" style="width: fit-content;">
                <table>
                    <tr><td><input class="padd_10" type="text" name="email" placeholder="Email address"></td></tr>
                    <tr><td></td></tr>
                    <tr><td><input class="padd_10" type="text" name="passowrd" placeholder="Password"></td></tr>
                    <tr><td><div class="clickable href" style="font-size: 10px; float: right;" onclick="forget_password()">Forget Password?</div></td></tr>
                    <tr><td>
                        <input type="hidden" id="signin" name="submit" value="SignIn">
                        <div class="clickable padd_10 fsize_15" id="login_btn" onclick="sign_in()">Sign In</div>
                    </td></tr>
                    <tr><td><br></td></tr>
                    <tr><td style="font-size: 12px;">Don't have an account?</td></tr>
                    <tr><td>
                        <input type="hidden" id="register" name="submit" value="Register">
                        <div class="clickable padd_10 fsize_15" id="reg_btn" onclick="register()">Create Account</div>
                    </td></tr>
                </table>
            </form>
        </div>
    </div>

    <div id="back" class="clickable" onclick="window.history.back()">&#x2715;</div>
</div>

<script>
    function sign_in(){
        console.log(document.getElementById("signin").value);
    }
    function register(){
        console.log(document.getElementById("register").value);
    }
    function forget_password(){
    }
</script>