<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th width="80" class="we_f1"># {$td[itemid]}</th>
<th class="we_f1">Product Information</th>
<th width="120" class="we_f1">Unit Price</th>
<th width="100" class="we_f1">Amount</th>
<th width="160" class="we_f1">Note</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_SKIN}image/nopic60.gif{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$v[linkurl]}" target="_blank" class="t">{$v[title]}</a><br/>{$v[par]}</td>
<td>{$v[price]}</td>
<td>{$v[number]}</td>
<td><textarea style="width:160px;height:40px;color:#666666;resize: none;">{$v[note]}</textarea></td>
</tr>
{/loop}
{if $td[fee_name] && $td[fee]}
<tr>
<td colspan="4" align="right" class="we_f1">{$td[fee_name]}：</td>
<td>{$td[fee]}</td>
</tr>
{/if}
<tr>
<td colspan="4" align="right" class="we_f1">Total Price：</td>
<td class="we_f1">$ {$td[total]}</td>
</tr>
</table>
</div>
<div class="b10"></div>