<table class="content-table top">
    <tr>
        <td width="150"></td>
        <td width="180"></td>
        <td width="330"></td>
        <td width="330"></td>
    </tr>
    <tr>
        <td colspan="4"><p class="h2">Fabric</p></td>
    </tr>
    {php $c = 'f'}
    <tr>
        <td colspan="2">
            {php $l = 'm'}
            {php $p = $m}
            {label('Fabric Material', $l, $c, 1)}
            {template option,buy}
            {template other,buy}
        </td>
        <td>
            {label('Weight','w',$c)}
            <div class="b16"></div>
            <input type="number" name="content[fw]" id="fw" min="0" placeholder="0" step="0.01">
            <div class="b16"></div>
            <span>Unit: gsm</span>
        </td>
        <td>
            {php $l = 'c'}
            {php $p = $cat}
            {label('Fabric Type',$l,$c,1)}
            {template option,buy}
            {template other,buy}
        </td>
    </tr>
    <tr>
        <td colspan="4"><p class="h2">Button</p></td>
    </tr>
    {php $c = 'b'}
    <tr>
        <td colspan="2">
            {php $l = 'm'}
            {php $p = $m}
            {label('Button Material',$l,$c,1)}
            {template option, buy}
            {template other, buy}
        </td>
        <td>
            {label('Diameter','d',$c)}
            <div class="b16"></div>
            <input type="number" name="content[bd]" id="bd" placeholder="0" min="0" step="0.01">
            <div class="b16"></div>
            <span>Unit: cm</span>
        </td>
        <td>
            {php $l = 't'}
            {php $p = $t}
            {label('Thickness',$l,$c,1)}
            {template option, buy}
            {template other,buy}
        </td>
    </tr>
    <tr>
        <td colspan="4"><p class="h2">Zipper</p></td>
    </tr>
    {php $c = 'z'}
    <tr>
        <td colspan="2">
            {php $l = 'm'}
            {php $p = $m}
            {label('Zipper Material',$l,$c,1)}
            {template option, buy}
            {template other, buy}
        </td>
        <td>
            {label('Number','n',$c)}
            <div class="b16"></div>
            <input type="number" name="content[zn]" id="zn" placeholder="0" min="0">
        </td>
        <td>
            {php $l = 't'}
            {php $p = $t}
            {label('Thickness',$l,$c,1)}
            {template option, buy}
            {template other, buy}
        </td>
    </tr>
    <tr>
        <td colspan="4"><p class="h2">Others</p></td>
    </tr>
    {php $c = 'f'}
    <tr>
        <td colspan="2">
            <span class="f_red">*</span>
            {label('Quantity','q')}
            <div class="b16"></div>
            <input type="number" name="content[Quantity]" id="q" min="1" placeholder="1" value="1" onfocus="this.value=''" onblur="if(this.value == '') this.value='1'" required>
            <span id="dq" class="f_red"></span>
        </td>
        <td>
            {label('Estimated on Sale Time','et')}
            <div class="b16"></div>
            <input type="date" name="content[Estimated_Time]" id="et" style="width: 85%;">
        </td>
        <td>
            {php $l = 't'}
            {php $p = $t}
            {label('Thickness',$l,$c,1)}
            {template option,buy}
            {template other, buy}
        </td>
    </tr>
    <tr>
        <td colspan="4"><div class="b32"></div></td>
    </tr>
    <tr>
        <td>{label('Requirements',"others")}</td>
        <td colspan="5">
            <div style="display: grid; grid-template-columns: auto auto; grid-template-rows: auto auto;">
                <textarea name="content[Requirements]" id="others" rows="5" maxlength="200" autocomplete="off" style="grid-area: 1 / 1 / 3 / 3;" onkeyup="count(this)"></textarea>
                <span style="grid-area: 2 / 1 / 3 / 3; justify-self: end;">200</span>
            </div>
        </td>
    </tr>
</table>
<div class="upload-img" style="padding: 16px">
    <p class="h2">Upload Image</p>
    <p style="font-size: .6rem; font-family: cursive; font-style: italic; color: rgba(18, 43, 92, .5);">Click the uploaded image to remove it.</p>
    <div class="t_up_imgs">
        <div class="t_up_imgs" id="img_pre"></div>
        <div class="t_up_imgs">
            <input type="file" name="content[img][]" id="img" style="display: none;" multiple accept="image/*" onchange="showImage()">
            <label for="img">
                <div class="up_imgs">
                    <span>+</span>
                </div>
            </label>
        </div>
    </div>
</div>
<table class="content-table">
    <thead><p class="h2" style="padding: 0 16px">Upload Files</p></thead>
    <tr>
        <td width="100px">{label('Design Draft','design')}</td>
        <td>
            <input class="clickable" type="file" name="content[file][design]" id="design" class="inputfile">
        </td>
    </tr>
    <tr>
        <td>{label('Size Table','size')}</td>
        <td>
            <input class="clickable" type="file" name="content[file][size]" id="size" class="inputfile">
        </td>
    </tr>
    <tr>
        <td>{label('Label Design','label')}</td>
        <td>
            <input class="clickable" type="file" name="content[file][label]" id="label" class="inputfile">
        </td>
    </tr>
</table>

{php unset($c)}
{php unset($l)}
{php unset($p)}
{php unset($id)}
{php unset($cat)}
{php unset($m)}
{php unset($t)}