<table class="content-table top">
    <tr>
        <td width="120"></td>
        <td width="160"></td>
        <td width="220"></td>
        <td width="280"></td>
        <td width="220"></td>
    </tr>
    {php $c = 'f'}
    <tr>
        <td valign="top" colspan="2">
            {php $l='m'}
            {php $p = $m}
            {label('Fabric Material',$l,$c,1)}
            {template option, buy}
            {template other, buy}
        </td>
        <td valign="top" >
            {label('Fabric Weight','w',$c)}
            <div class="b16"></div>
            <input type="number" name="content[fw]" id="fw" min="0" placeholder="0" step="0.01">
            <div class="b16"></div>
            <span>Unit: gsm</span>
        </td>
        <td valign="top" >
            {php $l = 'c'}
            {php $p = $cat}
            {label('Fabric Type', $l, $c, 1)}
            {template option, buy}
            {template other, buy}
        </td>
        <td valign="top">
            <span class="f_red">*</span>
            {label('Quantity','q')}
            <div class="b16"></div>
            <input type="number" name="post[amount]" id="q" required min="1" placeholder="1" value="1" onfocus="this.value=''" onblur="if(this.value=='') this.value='1'">
            <div class="b16"></div>
            <span>Unit: Meters</span>
        </td>
    </tr>
    <tr>
        <td colspan="5"><div class="b16"></div></td>
    </tr>
    <tr>
        <td valign="top">{label('Requirements','others')}</td>
        <td colspan="4">
            <div style="display: grid; grid-template-columns: auto auto; grid-template-rows: auto auto;">
                <textarea name="content[Requirements]" id="others" rows="5" maxlength="200" autocomplete="off" style="grid-area: 1 / 1 / 3 / 3;" onkeyup="count(this)"></textarea>
                <span style="grid-area: 2 / 1 / 3 / 3; justify-self: end;">200</span>
            </div>
        </td>
    </tr>
</table>
{template image, buy}