<!--{php $tags=tag("fields=catdir&table=category&condition=moduleid=$moduleid and letter='r'&template=null")}-->
<!--{php $cats=tag("fields=catid&table=category&condition=moduleid=$moduleid and level=4&template=null&order=catid asc")}-->
<!--{php $m=$cats[0][catid];$t=$cats[1][catid];$cat=$cats[2][catid];}-->
<!--{php $otherid=tag("fields=catid&table=category&condition=moduleid=$moduleid and level=5 and not letter&template=null&pagesize=1&debug=0")[0][catid]}-->
{template style, buy}
{if in_array(array('catdir'=>$catdir), $tags)}
<script>
    var otherid = {$otherid};
    var noid = otherid+1;
</script>
<form class="info-table" action="?step={$step}" method="post" enctype="multipart/form-data" id="info" onsubmit="return check()">
<input type="hidden" name="post[catid]" value="{$catid}">
<input type="hidden" name="post[username]" value="{$_username}">
<input type="hidden" name="post[email]" value="{$_email}">
<input type="hidden" name="post[mobile]" value="{$_mobile}">
<input type="hidden" name="post[typeid]" value="0">
<input type="hidden" name="post[level]" value="1">
<input type="hidden" name="post[totime]" value='0'>
<input type="hidden" name="post[status]" value="3">
<input type="hidden" name="action" value="add">
{template $catdir,buy}
<button type="submit" name="submit" class="clickable">Submit</button>
<div class="button clickable" onclick="Go('?step={php echo(($step)-1)}&send=0')">Back</div>
</form>
{else}
<p class="h1">The category is not valid</p>
<p class="h2" style="font-size: 2rem;">Please select the valid category</p>
{/if}
<script src="{DT_STATIC}file/script/admin.js"></script>
<script>
    function other(pre){
        var e = Dd(pre+'id');
        var v = e.value;
        var t = v.indexOf('t') == 1;
        if( v == otherid ){
            Dd(pre).style.display = 'block';
            if( t ) Dmsg("You should include the unit for the thickness",pre+"id");
        }
        else{
            Dd(pre).style.display = 'none';
        }
    }
    function count(textarea){
        var max = 200;
        var c = textarea.value.length;
        var span = textarea.parentNode.getElementsByTagName("SPAN")[0];
        span.innerHTML = max-c;
    }
    function check(){
        var selects = document.getElementsByTagName("SELECT");
        for( var i = 0 ; i < selects.length; i++ ){
            var e = selects[i];
            if( e.value == otherid && !(Dd((e.id).substr(0,2)+"_input").value) ){
                Dmsg("Please input the requirement for this field.",e.id);
                return false;
            }
        }
        if( Dd('q').value == '' ){
            Dmsg("Please input the requirement for the quantity of your request","q");
            return false;
        }
        if( Dd('thumbinputs').children.length == 0 ){ 
            return confirm("Please confirm if you don't want to upload any images!");
        }
        return true;
    }
</script>
{if $debug == 1}
<script>
    var selects = document.getElementsByTagName("SELECT");
    for( var i = 0; i < selects.length; i++){
        var e = selects[i];
        e.value = noid;
    }
</script>
{/if}